page-home {
  .bg-image {
    background-image: url(../../assets/imgs/tree.jpg);
    background-repeat: no-repeat;
    background-position: center;
    //background-size: contain;
  }
  h1 {
    color: #050100;
  }

  //start select
  .textLabel{
    font-size: 2em;
      width: 100%;
      font-weight: bold;
  }
  .selector {
    font-family: SFNSDisplay;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: #29235e;
    width: 100% !important;
    max-width: 100% !important;
    justify-content: center;
    border: solid 2px #e8ebf0;
    background-color: #ffffff;
    text-align: center;
  }
  .option {
    font-family: SFNSDisplay;
    font-size: 8px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: #29235e;
    width: 100% !important;
    max-width: 100% !important;
    justify-content: center;
    height: 20px;
  }

  ion-option .list {
    font-family: SFNSDisplay;
    font-size: 8px !important;
    max-width: 100% !important;
  }
  .ion-option-items .item {
    font-family: SFNSDisplay;
    font-size: 8px !important;
    max-width: 100% !important;
  }
  .select-popover {
    font-family: SFNSDisplay !important;
    font-size: 8px !important;
    max-width: 100% !important;
  }
  //end select

  h1 {
    color: #050100;
    font-weight: bold;
    font-family: SFNSDisplay;
  
  }
  .input-cover {
    pointer-events: auto;
  }

  ion-card.card {
    border-top: 1px solid grey !important;
    border-left: 1px solid grey !important;
    border-right: 1px solid grey !important;
    border-bottom: 1px solid grey !important;
    // border-radius: 10px;
  }

  .card-background-page {
    ion-list {
      width: 100%;
      
      position: relative;
      text-align: center;
      // -webkit-text-stroke-width: 0.25px;
      // -webkit-text-stroke-color: rgb(0, 0, 0);

      border-radius: 10px;
    }

    // .card-title {
    //   font-family: SFNSDisplay;
    //   position: absolute;
    //   top: 5%;
    //   font-size: 2em;
    //   width: 100%;
    //   font-weight: bold;
    //   color: #fff;
    // }

    .card-subtitle1 {
      font-size: 2.5em;
      position: absolute;
      top: 10%;
      width: 100%;
      color: #fff;
    }
    .card-subtitle2 {
      font-size: 1.7em;
      position: absolute;
      top: 37%;
      width: 100%;
      color: #fff;
    }
    .card-subtitle3 {
      font-size: 1.7em;
      position: absolute;
      top: 50%;
      width: 100%;
      color: #fff;
    }
    .card-subtitle4 {
      font-size: 1.2em;
      position: absolute;
      top: 65%;
      width: 100%;
      color: #fff;
    }
    .card-subtitle5 {
      font-size: 1.1em;
      position: absolute;
      top: 78%;
      width: 100%;
      color: #fff;
    }
    .card-subtitle6 {
      font-size: 1.5em;
      position: absolute;
      top: 78%;
      width: 100%;
      color: #fff;
    }
    .item1 {
      position: absolute;
      top: 20%;
      left: 80%;
      width: 15%;
      height: 10%;
      opacity: 0.8;
      text-align: center;
      border-radius: 10px;
    }
  }
}
