page-notification-home {
  .iconSize {
    font-size: 60px;
  }

  .bg-image {
    background-image: url(../../assets/imgs/clocks.jpg);
    background-repeat: no-repeat;
    background-position: center;
    // background-size: contain;
    // background-repeat: no-repeat;
    background-size: cover;
  }
  .label-item {
    font-size: 25px;
    font-weight: bold;
  }
  .set {
    opacity: 0.95;
  }
  .set-title-div {
    font-size: 20px;
    font-weight: bold;
  }
  .set-sub-div {
    font-size: 15px;
    font-weight: bold;
  }

  .toolbar-title {
    text-overflow: inherit;
    white-space: normal;
  }

  ion-card.card {
    border-radius: 10px;
    border-top: 1px solid grey !important;
    border-left: 1px solid grey !important;
    border-right: 1px solid grey !important;
    border-bottom: 1px solid grey !important;
  }
 
}
