page-welcome {
    #welcome{
        background-image: url(../../assets/imgs/tree.jpg);
        background-repeat: no-repeat;
        background-position: center;
        //background-size: contain; 
        h1{
            font-size: 52px;
            margin-top:58px;
        }
        .margintop{
            margin-top:160px;
        }
    }
    .icon-ruuvitag{
        background-image: url(../../assets/icon/ruuvitag_icon.png);
        background-repeat: no-repeat;
        background-position: center;
        //background-size: contain;
      }

}
