page-modal-notifications {
  .iconSize {
    font-size: 60px;
  }

  .bg-image {
    background-image: url(../../assets/imgs/notifications.jpg);
    // background-repeat: no-repeat;
    background-position: center;
    //background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .label-item {
    font-size: 20px;
  }
  .set {
    opacity: 0.8;
  }
  ion-toggle {
    zoom: 1;
  }
}
