<!--
  Generated template for the ModalNotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



  <ion-navbar>
    <button ion-button color="Skyblue" (click)="closeModal()">
      <ion-icon name="backspace" color="lughtgrey"></ion-icon>
    </button>
    <ion-title>
      การเเจ้งเตือน {{userPostData.device_name}}
    </ion-title>
  </ion-navbar>

</ion-header>
<!-- <img id="bgrimage" src="{{image}}" alt="imagenotavailable" > -->

<ion-content padding class="bg-image">
  <ion-card *ngFor="let item of dataNotification; let msgIndex = index" class="set">
    <ion-list>
      <ion-item>
        <ion-label class="label-item">
          <ion-icon color="danger" name="thermometer" item-start> </ion-icon>
          {{item.notification_weather}}
        </ion-label>
        <ion-toggle [(ngModel)]="check"  item-end></ion-toggle>

        <!-- <ion-icon color="danger" name="thermometer" item-start> </ion-icon> -->
        <!-- <button [disabled]="item.notification_upper > 30" ion-button class="previous">Previous</button> -->
        <!-- <h3>{{item.notification_weather}} มากกว่า {{item.notification_upper}} เเละน้อยกว่า{{item.notification_lower}}</h3> -->
        <!-- <h3 *ngIf="item.notification_upper == 0">{{item.notification_weather}} มากกว่า {{item.notification_upper}}</h3> -->
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <h2>
            มากกว่า
            {{item.notification_upper}} เเละน้อยกว่า {{item.notification_lower}}
          </h2>
          <ion-icon name="arrow-dropleft-circle" color="lughtgrey" item-end></ion-icon>
        </ion-item>
        <ion-item-options side="left" (ionSwipe)="notificationDelete(item.notification_id,item.notification_weather)"
          icon-start>
          <button ion-button (click)="notificationDelete(item.notification_id,item.notification_weather)" color="danger">
            <ion-icon name="trash" color="lughtgrey"></ion-icon>
            ลบ
          </button>
        </ion-item-options>
        <ion-item-options side="right" icon-start>
          <button ion-button (click)="showSetting()" color="lughtgrey">
            <ion-icon name="cog" color="Skyblue"></ion-icon>
            เเก้ไข
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item *ngIf="showSet > 0" color="lughtgrey">
        <ion-range dualKnobs="true" pin="true" min="-200" max="200" (ionChange)="test(knobValuesTemperature[i].upper,knobValuesTemperature[i].lower)"
          color="danger">
          <ion-icon name="" range-left></ion-icon>
          <ion-label range-left>-200</ion-label>
          <ion-label range-right>200</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>

<ion-footer>
  <!-- <ion-buttons end>
    <button ion-button round outline (click)="openPopoverAddNotification()"> -->
      <ion-item>
      <ion-icon class="iconSize" name="add-circle" color="primary" (click)="openPopoverAddNotification($event)" item-right ></ion-icon>
    </ion-item>
    <!-- </button>
  </ion-buttons> -->
</ion-footer>