page-account {
  .iconSize {
    font-size: 60px;
    text-align: center;
  }
  .bg-image {
    background-image: url(../../assets/imgs/tulips.jpg);
    background-repeat: no-repeat;
    // background-position: center;
    //background-size: contain;
  }

  .label-item {
    font-size: 25px;
    font-weight: bold;
  }
  // .set {
  //   opacity: 0.90;
  // }

  .set-title-account-div {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  .set-subtitle-account-div {
    font-size: 16px;
    // text-align: center;
    // font-weight: bold;
  }
  .set-title-div {
    font-size: 18px;
    font-weight: bold;
    // text-align: center;
    color: black;
  }
  .set-sub-div {
    font-size: 14px;
    // text-align: center;
    // font-weight: bold;
  }

  .toolbar-title {
    text-overflow: inherit;
    white-space: normal;
  }

  ion-card.card {
    border-radius: 10px;
    border-top: 2px solid rgb(255, 255, 255) !important;
    border-left: 2px solid rgb(255, 255, 255) !important;
    border-right: 2px solid rgb(255, 255, 255) !important;
    border-bottom: 2px solid rgb(255, 255, 255) !important;
    opacity: 0.95;
  }

  .item-account {
    
    border-radius: 10px;
    border-top: 2px solid rgb(255, 255, 255) !important;
    border-left: 2px solid rgb(255, 255, 255) !important;
    border-right: 2px solid rgb(255, 255, 255) !important;
    border-bottom: 2px solid rgb(255, 255, 255) !important;
  }

  
  

}
